body {
    margin: 0;
    background-color: rgb(238, 210, 210);
}



p {
    font-family: monospace;
    font-size: 1.5vw;
    text-align: center;
}

button {
    font-family: monospace;
}

.container {
    margin: 2vw 0;
}

#content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

#input-container {
    display: grid;
    place-items: center;
}

#mode-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 1vw;
}

#clear-button-container {
    margin: 1vw 0;
}

#grid {
    width: 500px;
    height: 500px;
    display: grid;
    background-color: white;
}

#color-selector {
    border: none;
    padding: 0;
    outline: none;
}

#circle {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

@media (max-width: 500px) {
    #grid {
        width: 80vw;
        height: 80vw;
    }
}   



