:root {
    --primary-dark: #333333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

body {
    margin: 0;
    background-color: rgb(238, 210, 210);
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#size-display {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
}

#slider {
    accent-color: var(--primary-dark);
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: transparent;
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
    outline: none;
}

.selected {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

#content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

#input-container {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

#grid {
    width: 500px;
    height: 500px; 
    display: grid;
    background-color: var(--secondary-light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button, 
#color-label {
    width: 80%;
    height: 25%;
    border-radius: 5px;
}

@media (max-width: 500px) {
    #grid {
        width: 80vw;
        height: 80vw;
    }

    #input-container {
        width: 80vw;
        height: 50vw;
    }

    button, 
    #color-label {
        width: 90%;
        height: 40px;
    } 
}  

@media (max-width: 250px) {
    #grid-switch {
        font-size: 5px;
    }
}

#color-selector {
    visibility: hidden;
}

#color-label {
    background-color: var(--primary-dark);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
