body {
    margin: 0;
    background-color: rgb(238, 210, 210);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

#grid {
    width: 500px;
    height: 500px;
    display: grid;
    background-color: white;
}


