:root {
    --primary-dark: #333333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

body {
    margin: 0;
    background-color: rgb(238, 210, 210);
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#size-display {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
}

#slider {
    accent-color: var(--primary-dark);
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: transparent;
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
    outline: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}

.selected {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

#content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

#input-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center; */
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    align-items: center;
}

#grid {
    width: 500px;
    height: 500px; 
    display: grid;
    background-color: var(--secondary-light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#color-selector {
    border: transparent;
    padding: 0;
    outline: transparent;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

@media (max-width: 500px) {
    #grid {
        width: 80vw;
        height: 80vw;
    }

    #input-container {
        width: 80vw;
        height: 40vw;
    }

    button, 
    #color-selector {
        width: 100px;
        height: 40px;
    } 

    #grid-switch {
        font-size: 10px;
    }
    
}   



